# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.*.swp
doc/body.html
doc/index.html
doc/pubsub.md
coverage*
example/*.ok
doc/*.ok
*0
*1
*2
*3
ok
